---
layout: default
---

<div class="row well header-row">
  <div class="col-md-7">
  {% include basic_info_2018.html %}
  </div>

  <div class="col-md-5">
  {% include organizers_2018.html %}
  </div>
</div>



<div class="row well">
  <div class="col-md-12" style="padding-bottom: 10px;">
  {% include facilities.html %}
  </div>
</div>


<div class="row well">
  <div class="col-md-12" style="padding-bottom: 10px;">
  {% include directions.html %}
  </div>
</div>

<div class="row well">
  <div class="col-md-12" style="padding-bottom: 10px;">
  <a href="{{ site.baseurl }}/index2015/">Brauer Group at Pingree Park 2015
  conference site</a>
  </div>
</div>
