
	<p><b>Details:</b> The 13th Brauer group meeting will take place June
	18-22, 2018, with participants arriving on Sunday, June 17th, at the
	Pingree Park Mountain Branch Campus of Colorado State University. The
	conference will begin on Monday, June 18th, and the talks will end on
	Friday, June 22nd, by noon.  Participants are welcome to leave Friday
	June 22nd or stay one additional night and depart on Saturday, June 23rd.
	</p>
	<p> <b>Registration:</b> If you are interested in attending and/or
	partipating by giving a talk, please fill out a registration form by
	using the link below. Some support will be available, although the
	exact amount is not yet determined.  Funding priority will be given to
	graduate student participants and early career researchers.
 	<br /><br />
	<h3><a href="https://goo.gl/forms/7kZGCHe6KYzOnt9q1">Registration Form</a></h3>
	</p>
  <br />
  <p> <a href="{{ site.baseurl }}/docs/Important-Visitor-Information.pdf">
  <h3>Information sheet for staying at Pingree Park</h3></a></p>
