    <p><b>Carpooling:</b> For those of you who are interested in sharing
    rides from the Denver Airport or other locations to Pingree, please
    feel free to use the link below.</p>

    <a href="http://www.groupcarpool.com/t/whapvz"
    >Brauer group at Pingree Park Carpool Site</a>

    <br />
    <br />

    <p>If you are renting a car, you can register on the site as a driver
    by choosing 'add a new carpool,' and if you are looking for a ride, you
    can choose to 'join a carpool.'</p>
