

    <b>Directions:</b> The drive from Denver International Airport (DIA) to
    Pingree takes roughly 3 hours (about 1 hour to Fort Collins, then 2
    more hours to Pingree). You can find maps and directions below!
	<br /> <br />
  <div class="col-md-4">
    <a href="{{ site.baseurl }}/docs/driving_map.pdf"
    ><img src="{{ site.baseurl }}/images/driving_map.jpg" style="width:
    300px;" ></a>
  </div>
  <div class="col-md-4">
    <a href="{{ site.baseurl }}/docs/map_to_pingree.pdf"
    ><img src="{{ site.baseurl }}/images/map_to_pingree.jpg" style="width:
    300px;" ></a>
  </div>
  <div class="col-md-4">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12122.927125655484!2d-105.592303!3d40.5696!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2261c4109124ee86!2sColorado+State+University+-+Pingree+Park+Campus!5e0!3m2!1sen!2sus!4v1425322433911"
    width="300" height="300" frameborder="0" style="border:0"></iframe>
  </div>
