
    <p><b>Reimbursements:</b> To reimburse your travel expenses, please
    bring to the conference any original receipts you have. If you are not
    a US citizen or permanent resident, we will also need a copy of your
    visa, I-94, and the photo page of your passport, along with a copy of
    your ESTA receipt.</p>

    <p>If you bring a copy of your visa, I-94, passport and ESTA receipt
    with you to the conference, it will greatly help us to facilitate
    reimbursements! If this is not possible, you can send in your receipts
    and copies of these documents by mail after the conference.</p>
